<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Portfolio Project</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- my stylesheets, fonts and CDNs-->
    <script>    var ROOT = '@Url.Content("~/")';</script>
    <script src="https://use.fontawesome.com/96e487c427.js"></script>
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" id="ChangeStyle"/>
    <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Cinzel' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>
    <link rel="icon" href="~/Content/Images/favicon.ico" type="image/png">
</head>
<body>
    <nav class="navbar navbar-default navbar-right navbar-fixed-top">
        <div class="container">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Projects", "Index", "Projects")</li>
                <li>@Html.ActionLink("About Me", "About", "Home")</li>
             <!--   <li><a href="#">Chat</a></li>
                <li><a href="#">Checkout</a></li>  -->
                <li>@Html.ActionLink("Project Credits", "Index", "Credits")</li>
               <!-- <li><a href="#">To Do</a></li> -->
            </ul>
        </div>
    </nav>


            @RenderBody()
            <hr />
            <footer>
                <p id="footerText">&copy; @DateTime.Now.Year - Erica Sommer, erica.sommer@att.net</p>
            </footer>


            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)
            <script src="~/Scripts/SandboxScripts.js"></script>
</body>
</html>
