<div class="container">
    @model IEnumerable<PortfolioFinal.Models.Project>

    @{
        ViewBag.Title = "Projects";
    }

    <h2>Projects</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
  
    <br />
   

    @foreach (var item in Model)
        {
            <div class="col-sm-md-3 col-md-3   ProjectDisplay">
                <a href="@Html.DisplayFor(modelItem => item.ProjectImagePath)" class="thumbnail">
                    <img src="@Url.Content(item.ProjectImagePath)" alt="Project Screenshot" />
                </a>
                <span class="caption">@Html.DisplayFor(modelItem => item.ProjectName)
                </span>
                <p>@Html.DisplayFor(modelItem => item.ProjectDescription)</p>
                <p><a href="@Html.DisplayFor(modelItem => item.GitHubLink)" class="fa fa-github fa-3x" aria-hidden="true"></a> 
                </p>
                <span class="link">@Html.ActionLink("Edit", "Edit", new { id = item.ProjectID }) <text>||</text>  @Html.ActionLink("Delete", "Delete", new { id = item.ProjectID })</span>

            </div>
            
        }

</div>